
.pp1{
  position: absolute;
  left:190px;
  top:10px;
    border-radius: 50%;
    height:30px;
    width:30px;
}

/* .title1{
  position: absolute; 
  left:10px;
  top:10px;
  color:#4682A9;
  font-size: 20px;
} */

.username{
  position:absolute;
  top:15px;
  left:225px;
  font-size: 13px;
  color:white;
  justify-content: space-between;
}

.line1{
  position:absolute;
  top:40px;
  height:10px;
  width:100%;
  border: none;
  border-color: black;
}

.navbar{
  width:400px;
  height: 56px;
  background-color:blue
}

.logoutbtn{
  position:absolute;
  left:325px;
  top:10px;
}

.chat{
  height:100%;
  display:flex;
  /* border-right:1px solid red; */
  /* align-items: center;
  justify-content: center; */
}

.container{
  /* border:1px solid #512B81; */
  width:75%;
  height: 450px;
  display:flex;
  margin-top: 40px;
  padding-left:0px;
  padding-right: 0px;
  /* font-family: 'WebFont', fallback-font, sans-serif; */

}

.toppart{
  /* background-color: red; */
  flex: 1;
  border-right:1px solid blue;
  height: 50px;
  background-color:blueviolet;
  border-bottom: 0.05px solid;
  width:273px;
}

.parent{
  /* position: relative;
  height:450px;
  width:273px; */
  display: flex;
  flex-direction:column;
  height: 100%; /* Make the parent div full height */
  
}

.nav{
  position:relative;
  /* background-color:rgba(0, 0, 0, 0.478); */
  background-color: #6F61C0;
  border-bottom: 0.05px solid;
  height:48px;
  padding-bottom: 0px;
}





.cat{
  flex:2;
  padding-left:10px;
  background-color:rgba(0, 0, 0, 0.478);
  height:49px;
}

.user{
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.apptitle{
  position:relative;
  font-weight: bold;
  top:10px;
  height:30px;
}

.cudetails{
   position:relative;
   right:-70px;

}

/* .apptitle,.one{
  display:inline;
} */

.cudetails{
  position:relative;
  display:flex;
}

.one{
  position:relative;
  justify-content: space-between;
  padding-left:60px;
  height:50px;
  max-height:60px;
  
}

.name{
  position:relative;
  padding-right: 5px;
  height:30px;
  top:10px;

  
}



.fnd{
  position:relative;
  width:273px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.544);
  /* background-color: aqua; */
  
}

.searchbar{
  position:relative;
  /* top:15px; */
  overflow: hidden;
  border:none;
  width:273px;
  /* height:35px; */
  background-color:rgba(0, 0, 0, 0.478);
  border-right:1px solid blue;
  outline:none;
  /* border-bottom: 1px solid rgba(255, 0, 0, 1); */
  
  
  text-decoration-color:turquoise;
}

.bn{
  position:relative;
  top: 0px;
  background-color: blueviolet;
  border: none;
  padding:none;
 
}

.fnd input{
  padding:2px;
}

.bn:hover{
 
  color:burlywood;
  border-radius: 5%;
}

.mychats{
 
  /* max-height:fit-content; */
  flex:1;
  width:273px;
  background-color:rgba(0, 0, 0, 0.478);
  border-right:1px solid blue;
  overflow-wrap: normal;
  height:374px;
  overflow-y: auto;
  
}

.two{
  position:relative;
}

.pf1{
  position:relative;
  height:50px;
  width:50px;
  top:0px;
  border-radius: 50%;
  object-fit:cover;
  cursor:pointer;
}

.user1{
 
  position:relative;
  left:12px;
  top:-8px;
 
  color:white;
  cursor:pointer;
  font-size: 18px;
}


.lastchat{
  position:relative;
 
  align-items: center;
  justify-content: center;
  color:lightgray;
  top:-26px;
  font-size: 15px;
  left:61px;
  /* width:20px; */
  max-width:100px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.chatinfo{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding:8px;
  color:lightgray;
}

/* .messages{
  top:6px;
  position:relative;
  height:150px;
  padding:10px;
  background-color:#dddfdd;
  height:355px;
  left:-10px;
  padding-left:0px;
  padding-bottom: 0px;
  flex-grow:1;
  
} */

.messages {
  position: relative;
  padding: 10px;
  background-color: #dddfdd;
  flex-grow: 1; /* Expand to fill available vertical space */
  overflow-y: auto; /* Add scroll for overflow content */
  margin: 0; /* Remove default margin */
  /* border-bottom: 1px solid #512B81; Add a bottom border */
  top:8px;
  height:360px;
  margin-left:-9px;
  gap:20px;
  /* overflow:scroll; */
  
}

.chaticons{
  display:flex;
  gap:10px;
}

.lastinput{
  background-color:white;
  display: flex;
  align-items:center;
  /* justify-content: center;; */
  height:50px;
  margin-left:-9.7px;
  background-color: rgba(0, 0, 0, 0.478);
  overflow:hidden;
  
  /* left:0px;
  bottom:0px;
   */
  
}


.inputicons{
  
  display:flex;
  justify-content: end;
  gap:10px;
  flex:1;
  margin-right:20px;
  padding-top:7px;
}

.lastinput p{
  position:relative;
  top:10px;
  left:10px;
  
}

 .messageinfo{
  display:flex;
  flex-direction:column;
  color:gray;
  font-weight: 300px;
}

.senderimage{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit:cover;
  /* align-items: flex-end;
  flex-direction: column; */
}

.textmessage{
   padding-left:10px;
  margin-top:5px;
  max-width:450px;
   overflow-wrap: break-word;
 word-wrap:break-word;
}


/* .messagetime{
 
  
  /* display:flex; */
  
  
  
/* } */ 

.timeandphoto{
  display:flex;
  flex-direction: row;
  align-items:flex-end;
}

.imagemessage{
  width:180px;
  height:180px;
  padding-left: 10px;
  /* display:flex; */
 
 
}

.inputbox{
  position:relative;
  top:10px;
  left:4px;
  height:30px;
  width:400px;
  margin-bottom:10px;
  resize:none;  
  /* margin-top:0px;
  margin-left:8px; */
  outline: none;
  background-color:#D7E5CA;
  /* border:none;
  font-size:16px;
  width:400px; */
  /* text-overflow: initial;
  overflow-x:scroll; */
  /* overflow-wrap: break-word;
  word-wrap:break-word; */
 

}

.activechat{
  background-color: red;
}

.sendmessage{
  padding:none;
  border:0;
  height:20px;
  width:20px;
}

.imagesendinput{
  position:absolute;
  top:999px;
  left:-999px;
}

.sendbtn{
  border-radius: 10%;
  background-color:#45FFCA;
  border-color:#97FFF4;
}

.sendbtn:hover{
  border:2px solid #3085C3;
}

.customicon{
  position:relative;
  top:2px;
  padding-left:12px;
  font-size: 24px;
  color:#C8FFE0;
}

.bi-camera{
  padding:none;
  box-sizing:border-box;
  position:relative;
  left:-52px;
  top:12px;

  
}

.messages{
   background-image: url("chatbackground.jpg");
   background-color: #FFF8C9;
   background-size:cover;
   background-position: center;
   background-repeat:no-repeat; 
}

.usersearch{
  position:relatve;
  height:55px;
  padding-top: 2.5px;
  background-color: rgba(0, 0, 0, 0.333);
}

.notfound{
   background-color: rgba(0, 0, 0, 0.278);
}

.sm{
  position:relatve;
  height:50px;
  width:50px;
  top:0px;
  border-radius:50%;
}

.contacts{
  position:relative;
  padding-top:5px;
  padding-bottom:5px;
  height:65px;
}

.contacts:hover,.contacts:active{
  cursor:pointer;
  background-color:#D7E5CA;
  border-left: 1px;
}



.active-chat{
  background-color: #6F61C0;
}

.ps{
  position:relative;
  top:200px;
  font-size:12px;
}

.ps1{
  position:relative;
  top:215px;
  font-size:12px;
  left:50px;
}

.ps,.ps1{
  position:inline;
}

.form{
  position:relative;
  border: 5px solid rosybrown;
  border-radius:5%;
  height:206px;
  width:202px;
   top:0%;
  /* left:70%; */ 
  background-color: #C8FFE0;
}

.form input ,p,button{
  position:relative;
  margin:5px;
}



/* @media (max-width : 1049px) {
  
  .container{
    /* border:none;
    overflow:hidden; */
    /* border:1px solid #512B81;
  width:75%;
  height: 450px;
  display:flex;
  margin-top: 40px;
  padding-left:0px;
  padding-right: 0px; */
  /* } */

/* } */ 

.container{
  border:none;
  height: auto;
  width:auto;
  /* top:10px;
  left:10px; */
  /* margin:none; */
}

@media screen and (max-width : 767px)  {
  
  .container{
    border:none;
    /* margin:0; */
    margin-left:20px;
    margin-right:20px;
    
    
  }

  .name{
    right:20px;
   
  }

  .nav{
    outline:none;
    overflow:hidden;
    box-shadow: none;
  }
  
  .inputbox{
    width:200px;
  }

  .parent{
    height:580px;
    width:200px;
  }

  .cat{
    height:410px;
  }

  .textmessage{
    max-width:240px;
  }

  .mychats{
    width:200px;
  }

  
  .messages{
    height:490px;
  }

  


}